<h4>Welcome to Kitchenforce, a tool to help aspiring small food service business owners.</h4>
<p>Once you've chosen a location for your business, you can use Kitchenforce to check out the nearby competition.</p>
<p>Connect your Salesforce account to track and save information about competing businesses.</p>
